<% subtitle = nil if local_assigns[:subtitle].nil? %>
<section class="jumbotron text-center">
  <div class="container" >
    <h1><%= titles[:title] %></h1>
    <p>
      <%= link_to add_link_name, add_link_path, class: "btn btn-primary my-2 buttons-background" %>
      <% if defined?(second_link) %>
        <%= link_to second_link, add_second_link_path, class: "btn btn-primary my-2 buttons-background" %>
      <% end %>
      <%= link_to 'Home', root_path, class: "btn btn-secondary my-2 buttons-background-2" %>
    </p>
  </div>
</section>