<div class="col-md-12">
  <h2>New Reservation</h2>
</div>
<div class="col-md-3">
  <%= render 'form', reservation: @reservation %>
  <br />
  <br />
  <%= link_to 'Back', property_reservations_path %>
</div>
