.jumbotron {
  background-image: url("https://images.unsplash.com/photo-1462899006636-339e08d1844e?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80");
  color: rgb(247, 252, 253);
  box-shadow: 5px 5px 10px  rgb(1, 75, 85);
}
.buttons-background {
  background-color: #4d93a3;
  box-shadow: 2px 2px 5px  rgb(218, 228, 230);
  border-color: rgb(248, 247, 247);
}
.buttons-background-2 {
  background-color: #42585e;
  box-shadow: 2px 2px 5px  rgb(1, 75, 85);
}